<!DOCTYPE html>
<html>
<head>
    <title>Forside</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container homepage">

<h1>Velkommen til indtjeningssystemet</h1>

<p>Din forretnings samlede indtjening</p>
<div class="revenue">{{ total_revenue }} kr</div>


<div class="nav">

<a href="/admin">Tilføj produkt</a>

<a href="/sammenligning">Sammenlign kategorier</a>

<a href="/allproducts">Alle produkter</a>

</div>

</div>

</body>
</html>